@keyframes rotation-false {
  0% {transform: rotateY(180deg);}
  100% {transform: rotateY(0deg);}
}

@keyframes rotation-true {
  0% {transform: rotateY(0deg);}
  100% {transform: rotateY(-180deg);}
}



.row {
    justify-content: space-between;
}

.card {
    width: 150px;
    height: 200px;
    margin: 100px auto 0 auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #3D3D3D;
    background-color: #7c7fe0;
    border-radius: 40px;
    text-align: center;
    transition: 0.5s ease-out;
    transform-style: preserve-3d;
    position: relative;
}

.card__face {
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face img {
  width: 100%; /* Ширина изображений */
  height: 85%; /* Высота изображении */
  object-fit: cover;
  border-radius: 40px;
}

.card__face--back {
  position: absolute;
  transform: rotateY(180deg);
  text-align: center;
  font-size: 30px;
  top: 40%;
  left: 5px;
}

.card img {
  width: 100%; /* Ширина изображений */
  height: 85%; /* Высота изображении */
  object-fit: cover;
  border-radius: 40px;
}

.card.is-flipped {
  transform: rotateY(180deg);
}



.rotation-true {
  animation: 1s rotation-true ease-in-out;
}
.rotation-false {
  animation: 1s rotation-false ease-in-out;
}


.header {
    justify-content: space-around;
}







// position: left or right
// width: unit px
// backgroundColor
// duration: unit ms
$elastic: (
  position: left,
  width: 300,
  backgroundColor: #7c7fe0,
  duration: 300,
);


// get key
$position: map-get($elastic, 'position');
$width: map-get($elastic, 'width');
$backgroundColor: map-get($elastic, 'backgroundColor');
$duration: map-get($elastic, 'duration');
// css button
#show {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 1000;
}

#show span {
  display: block;
  position: absolute;
  height: 5px;
  width: 50px;
  background: #3D3D3D;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  margin-top: 80px;
  margin-left: 100px;
}

#show span:nth-child(1) {
  top: 0px;
}

#show span:nth-child(2) {
  top: 18px;
}

#show span:nth-child(3) {
  top: 36px;
}

#show.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#show.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#show.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

// Start
.navigation {
  position: fixed;
  width: $width*1px;
  height: 100%;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  transition-delay: $duration*1ms;
  @if ($position == right) {
    right: 0;
  } @else if ($position == left) {
    left: 0;
  }
  
  &.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    .navigation__inner {
      background-color: $backgroundColor;
      transform: translate(0, 0);
      transition: transform $duration*1ms linear, background-color 0s linear ($duration*2-1)*1ms;
      &:after {
        width: 300%;
        border-radius: 50%;
        animation: elastic ($duration/2)*1ms ease ($duration+0.5)*1ms both;
      }
    }
  }
}
.navigation__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999999;
  @if ($position == right) {
    transform: translate(100%, 0);
  } @else if ($position == left) {
    transform: translate(-100%, 0);
  }
  transition: transform $duration*1ms linear, background-color 0s linear $duration*1ms;
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    @if ($position == right) {
      left: 0;
    } @else if ($position == left) {
      right: 0;
    }
    background-color: $backgroundColor;
    border-radius: 50%;
    z-index: -1;
    transition: all $duration*1ms linear;
    
  }
}

@keyframes elastic {
    0% {
        border-radius: 50%;
    }
    45% {
        border-radius: 0;
    }
    65% {
        @if ($position == right) {
          border-top-left-radius: 40px 50%;
          border-bottom-left-radius: 40px 50%;
        } @else if ($position == left) {
          border-top-right-radius: 40px 50%;
          border-bottom-right-radius: 40px 50%;
        }
    }
    80% {
        border-radius: 0;
    }
    90% {
        @if ($position == right) {
          border-top-left-radius: 20px 50%;
          border-bottom-left-radius: 20px 50%;
        } @else if ($position == left) {
          border-top-right-radius: 20px 50%;
          border-bottom-right-radius: 20px 50%;
        }
    }
    100% {
        border-radius: 0;
    }
}

.category__link {
  display: block;
  color: #fff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 45px;
  padding: 6px 0;
}




.tgl {
  display: none;
  
  // add default box-sizing for this scope
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .tgl-btn {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }
  
  + .tgl-btn {
    margin: 90px 50px 0 0;
    outline: 0;
    display: block;
    width: 150px;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:after,
    &:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
    }
    
    &:after {
      left: 0;
    }
    
    &:before {
      display: none;
    }
  }
  
  &:checked + .tgl-btn:after {
    left: 50%;
  }
}

.tgl-flip {
  + .tgl-btn {
    
    padding: 2px;
    transition: all .2s ease;
    font-family: sans-serif;
    perspective: 100px;
    &:after,
    &:before {
      display: inline-block;
      transition: all .4s ease;
      width: 100%;
      text-align: center;
      position: absolute;
      line-height: 2em;
      font-weight: bold;
      color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      border-radius: 4px;
    }
    
    &:after {
      content: attr(data-tg-on);
      background: #8f1708;
      transform: rotateY(-180deg);
    }
    
    &:before {
      background: #7c7fe0;
      content: attr(data-tg-off);
    }

    &:active:before {
      transform: rotateY(-20deg);
    }
  }
  
  &:checked + .tgl-btn {
    &:before {
      transform: rotateY(180deg);
    }
    
    &:after {
      transform: rotateY(0);
      left: 0;
      background: #dbcf1c;
    }
    
    &:active:after {
      transform: rotateY(20deg);
    }
  }
}


.card-rotate {
  position: absolute;
  left: 10px;
  top: 8px;
  background-image: url(../data/img/rotate.png);
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: cover;
}